@model List<TaskModel>

@{
    ViewData["Title"] = "Tarefas Concluídas";
}

<main class="text-center">
    <h1 class="fs-4">Concluídas</h1>

    <div class="d-flex flex-column align-items-center gap-2">
        @foreach (var task in Model)
        {
            var dateLocalTime = @task.CreatedAt.ToLocalTime();
            var date = dateLocalTime.ToString("dd/MM/yyyy");
            var time = dateLocalTime.ToString("HH:mm");

            <div class="card text-start" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title fs-6 mb-0">@task.Title</h5>
                </div>

                <div class="card-body pt-2 pb-2">
                    <p class="card-text mb-1">@task.Description</p>

                    <p class="fw-bold">Criado em: <span class="fw-normal">@date às @time</span></p>

                    <p class="fw-bold">Status: <span class="fw-normal">@(@task.CompletedAt != null ? "Concluída" :
                        "Pendente")</span>
                    </p>
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-sm btn-outline-dark">Reabrir</button>
                </div>
            </div>
        }
    </div>
</main>
