@model ToDoList.App.ViewModels.TaskViewModel;

@{
    ViewData["Title"] = "Nova Tarefa";
}

<div>
    <h1 class="fs-4 text-center">Nova Tarefa</h1>

    @using (Html.BeginForm("Create", "Task", FormMethod.Post, new { @class = "d-flex flex-column align-items-center gap-2" }))
    {
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { placeholder = "Estudar ASP.NET", @class = "form-control mb-1" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="gap-1">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { placeholder = "Classes e objetos de base",  @class = "form-control mb-1" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex text-center gap-2">
            <button type="button" id="cancelButton" class="btn btn-sm btn-outline-danger">
                Cancelar
            </button>

            <button type="submit" class="btn btn-success btn-sm">
                Criar Tarefa
            </button>
        </div>
    }
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}