@model TaskModel

@{
    ViewData["Title"] = "Alterar Tarefa";

    var localDateCreated = Model.CreatedAt.ToLocalTime();
    var dateCreated = localDateCreated.ToString("dd/MM/yyyy");
    var timeCreated = localDateCreated.ToString("HH:mm");
    var dateCreatedText = $"{dateCreated} às {timeCreated}";
}

<form method="post" asp-controller="Task" asp-action="Update" asp-route-id="@Model.Id">
    <h1 class="fs-4 text-center">Alterar Tarefa</h1>

    <div class="d-flex flex-column align-items-center gap-2">
        <div class="mb-3">
            <label for="id" class="form-label">Número</label>
            <input name="id" id="id" value="@Model.Id" readonly
                   class="form-control form-control-sm no-focus-style disabled"/>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input name="title" id="title" value="@Model.Title" minlength="3" maxlength="20" required class="form-control form-control-sm"/>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Descrição</label>
            <input name="description" id="description" value="@Model.Description" maxlength="100"
                   class="form-control form-control-sm"/>
        </div>

        <div class="mb-3">
            <label for="created-at" class="form-label">Criado em</label>
            <input id="created-at" value="@dateCreatedText" disabled class="form-control form-control-sm"/>
        </div>

        <div class="d-flex text-center gap-2">
            <button type="button" id="cancelButton" class="btn btn-outline-danger btn-sm">Cancelar</button>
            <button type="submit" class="btn btn-success btn-sm">Salvar</button>
        </div>
    </div>
</form>